/node_modules/
/lib/
/test/

# top level source
luna-orbit.js
luna-orbit.js.map
luna-orbit.d.ts
luna-orbit.d.ts.map

terra-min.js
terra-min.js.map
terra-min.d.ts
terra-min.d.ts.map

x-*.js
x-*.js.map
x-*.d.ts
x-*.d.ts.map

locale-codes.js
locale-codes.js.map
locale-codes.d.ts
locale-codes.d.ts.map


localization.js
localization.js.map
localization.d.ts
localization.d.ts.map

config.js
config.js.map
config.d.ts
config.d.ts.map

en
en-US