<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>Luna Orbit | Staking</title>
    
    <meta property="og:site_name" content="Luna Orbit">
    <meta property="og:title" content="Luna Orbit">
    <meta property="og:description" content="Luna Orbit Validator">
    <meta property="og:image" content="https://lunaorbit.ghostfly.dev/assets/ogimage.png">
    <meta property="og:url" content="https://www.lunaorbit.space/">
    <meta property="og:type" content="website" />

    <meta name="description" content="Luna Orbit Validator">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ff0000">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <luna-orbit>
      <nav class="terra-bg" slot="nav">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
          <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-between">
              <div class="flex-shrink-0 flex items-center">
                <a href="home">
                  <img slot="branding" class="block h-8 w-auto pointer-events-none" src="/assets/logo.svg" alt="LunaOrbit logo"  width="33" height="32">
                </a>
                <a href="home">
                <h1 slot="branding" class="text-gray-50 ml-2 select-none font-sans">Luna Orbit</h1>
                </a>
              </div>
              <button id="mobile-menu-toggle" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-white md:hidden lg:hidden" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
              <div class="hidden sm:block">
                <div class="flex space-x-4 menu-holder"></div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>

        <div class="sm:hidden" id="mobile-menu" style="display: none">
          <div class="px-2 pt-2 pb-3 space-y-1 md:hidden lg:hidden menu-holder"></div>
        </div>
      </nav>

      <div class="content" slot="content"></div>

      <div class="equation" slot="equation">
        <x-equation></x-equation>
      </div>

      <footer slot="footer">
        <website-footer></website-footer>
      </footer>
    </luna-orbit>
  </body>
</html>
